{{template "layout.html" .}}

<!-- title -->

{{define "title"}}Login{{end}}

<!-- content -->

{{define "content"}}
<div id="app" class="login-container" x-data="loginForm()">
  <img src="{{ .LogoURL }}" alt="" class="sfa-logo" />
  <div class="card login-card" :class="{ 'form-submitting': submitting }">
    <div class="card-body">
      <h4 class="card-title">Login</h4>
      <form @submit.prevent="submitData">
        <div class="form-floating mb-3">
          <input
            autofocus
            name="username"
            id="username"
            x-model="formData.username"
            type="text"
            placeholder="Enter username or email"
            required="required"
            aria-required="true"
            class="form-control"
          />
          <label for="username"> Username </label>
        </div>
        <div class="form-floating mb-3">
          <input
            name="password"
            id="password"
            x-model="formData.password"
            type="password"
            placeholder="Enter password"
            required="required"
            aria-required="true"
            class="form-control"
          />
          <label for="password" style="width: 100%"> Password </label>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-lg">Login</button>
          <a
            href="/reset-password"
            tabindex="-1"
            class="btn btn-outline-secondary btn-sm"
            >Forgot Password?</a
          >
        </div>
      </form>
    </div>
    <div
      class="card-footer bg-danger text-white"
      x-text="errorMessage"
      x-show="!!errorMessage"
    ></div>
    <div
      class="card-footer bg-success text-white"
      x-text="successMessage"
      x-show="!!successMessage"
    ></div>
  </div>
</div>

<script>
  const loginForm = () => ({
    formData: {
      username: "",
      password: "",
    },
    submitting: false,
    errorMessage: null,
    successMessage: null,

    async submitData() {
      this.errorMessage = false;
      this.submitting = true;
      try {
        const res = await fetch("/api/firstfactor", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username: this.formData.username,
            password: this.formData.password,
            state: "{{ .Nonce }}",
            target_url: new URLSearchParams(window.location.search).get("rd"),
          }),
        });
        if (!res.ok) {
          const err = await res.json();
          this.errorMessage = err.error; // || err.message)
        } else {
          if (res.status === 200) {
            const j = await res.json();
            this.successMessage = "Login successful, redirecting....";
            window.location = j["redirect_to"];
          } else {
            this.errorMessage = "Failed to login";
            console.error("Bad response from server", res);
          }
        }
      } catch (e) {
        this.errorMessage = "Failed to login";
        console.error(e);
      }
      this.submitting = false;
    },
  });
</script>
{{end}}
