{{template "layout.html" .}}

<!-- title -->

{{define "title"}}Reset Password{{end}}

<!-- content -->

{{define "content"}}
<div id="app" class="login-container" x-data="passwordResetForm()">
  <img src="{{ .LogoURL }}" alt="" class="sfa-logo" />
  <div class="card login-card" :class="{ 'form-submitting': submitting }">
    <div class="card-body">
      <h4 class="card-title">Reset Password</h4>
      <form @submit.prevent="submitData" x-show="!successMessage">
        <input
          id="email"
          type="email"
          value="{{ .Email }}"
          aria-hidden="true"
          hidden
        />

        <div class="form-floating mb-3">
          <input
            id="password"
            type="password"
            placeholder="Enter new password"
            required="required"
            aria-required="true"
            autofocus
            :class="{ 'form-control': true, 'is-invalid': hasError }"
            x-model="formData.password"
          />
          <label for="password">Password</label>
          <div
            :class="{ 'invalid-feedback': hasError, 'form-text text-muted': !hasError }"
          >
            Your password must be at least 8 characters long, contain at least
            one letter and one number.
          </div>
        </div>
        <div role="toolbar" class="btn-toolbar">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Reset Password
          </button>
        </div>
      </form>

      <p class="lead text-center" x-show="!!successMessage">
        Your password has been reset successfully.
      </p>
    </div>
    <div
      class="card-footer bg-danger text-white"
      x-text="errorMessage"
      x-show="!!errorMessage"
    ></div>
  </div>
</div>

<script>
  const validatePassword = (password) =>
    password &&
    password.length >= 8 &&
    /[a-zA-Z]/g.test(password) &&
    /[0-9]/g.test(password);

  const passwordResetForm = () => ({
    formData: {
      password: "",
    },
    submitting: false,
    errorMessage: null,
    successMessage: null,
    hasError: false,

    async submitData() {
      this.errorMessage = false;
      this.submitting = true;
      try {
        const isPasswordValid = validatePassword(this.formData.password);
        this.hasError = !isPasswordValid;
        if (!isPasswordValid) {
          this.errorMessage = "Your password doesn't meet the requirements";
          this.submitting = false;
          return;
        }
        const res = await fetch("/api/reset-password", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email: "{{ .Email }}",
            token: "{{ .Token }}",
            password: this.formData.password,
          }),
        });
        if (!res.ok) {
          const err = await res.json();
          this.errorMessage = err.error;
        } else {
          if (res.status === 200) {
            const j = await res.json();
            this.successMessage = "success";
          } else {
            this.errorMessage = "Failed to reset password";
            console.error("Bad response from server", res);
          }
        }
      } catch (e) {
        this.errorMessage = "Failed to reset password";
        console.error(e);
      }
      this.submitting = false;
    },
  });
</script>
{{end}}
