{{template "layout.html" .}}

<!-- title -->

{{define "title"}}Reset Password{{end}}

<!-- content -->

{{define "content"}}
<div id="app" class="login-container" x-data="passwordResetForm()">
  <img src="{{ .LogoURL }}" alt="" class="sfa-logo" />
  <div class="card login-card" :class="{ 'form-submitting': submitting }">
    <div class="card-body">
      <h4 class="card-title">Reset Password</h4>
      <form @submit.prevent="submitData" x-show="!successMessage">
        <div class="form-floating mb-3">
          <input
            autofocus
            id="email"
            type="text"
            x-model="formData.email"
            placeholder="Enter email"
            required="required"
            aria-required="true"
            class="form-control"
          />
          <label for="email">Email</label>
          <small class="form-text text-muted">
            By clicking "Reset Password" we will send a password reset link
          </small>
        </div>
        <div role="toolbar" class="btn-toolbar">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Reset Password
          </button>
        </div>
      </form>

      <p class="lead text-center" x-show="!!successMessage">
        If the email was valid, an email was sent to your inbox. Please click on
        the link provided in the email to reset your password.
      </p>
    </div>
    <div
      class="card-footer bg-danger text-white"
      x-text="errorMessage"
      x-show="!!errorMessage"
    ></div>
  </div>
</div>

<script>
  const passwordResetForm = () => ({
    formData: {
      email: "",
    },
    submitting: false,
    errorMessage: null,
    successMessage: null,

    async submitData() {
      this.errorMessage = false;
      this.submitting = true;
      try {
        const res = await fetch("/api/reset-password", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email: this.formData.email,
          }),
        });
        if (!res.ok) {
          const err = await res.json();
          this.errorMessage = err.error;
        } else {
          if (res.status === 200) {
            const j = await res.json();
            this.successMessage = "success";
          } else {
            this.errorMessage = "Failed to reset password";
            console.error("Bad response from server", res);
          }
        }
      } catch (e) {
        this.errorMessage = "Failed to reset password";
        console.error(e);
      }
      this.submitting = false;
    },
  });
</script>
{{end}}
